.service-card {
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #FAFAFA;
}

.service-price {
    padding-top: 14px;
    color: #128C7E;
    font-size: 20pt;
}