.service-card {
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid #eee;
    border-radius: 4px;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 2px 3px #aeaeae;
}

.service-price {
    padding-top: 14px;
    color: hsl(351deg 72.56% 69.23%);
    font-size: 20pt;
}